.todo-area {
    padding: 20px;
    background-color: rgb(120, 71, 165);
    border-radius: 10px;
}
.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-area input {
width: 80%;
padding: 10px;
border-radius: 10px;
border: none;

}
.input-area button {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    width: 15%;
    cursor: pointer;

    
    }
    .todo-area div .delete{
        background-color: white;
        color: red;
        padding: 10px;
        border-radius: 10px;
        border: none;
        cursor: pointer;

    }
.todo-area div {
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 0;
}
.todo-area div p{
    font-size: 20px;
}
